/*------------------------------------*\
  Components > Logo
\*------------------------------------*/

.c-logo {
  &__link {
    display: block;
    line-height: 1;
    font-weight: $type-700;
    font-size: double($type-xs);
    transition: color $global-faster-transition ease-in-out;

    @include attention() {
      color: var(--color-brand);
    }
  }

  &__img {
    max-height: $space-32;
  }
}