{{!< ../default}}

<div class='o-wrapper'>
  {{#if @member}}
    {{!-- Logged in: Redirect home --}}
    <script>window.location = '{{@site.url}}';</script>
  {{else}}
    {{!-- Not logged in: Redirect to signup --}}
    <script>window.location = '/newsletter';</script>
  {{/if}}
</div>
